<h1>Edit User</h1>

<form method="POST" action="/users/<%= user.id %>">
  <input type="hidden" name="_method" value="PUT">

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" class="form-control" value="<%= user.name %>" required>
  </div>

  <div class="form-group">
    <label for="gender">Gender</label>
    <input type="text" name="gender" id="gender" class="form-control" value="<%= user.gender %>" required>
  </div>

  <div class="form-group">
    <label for="age">Age</label>
    <input type="text" name="age" id="age" class="form-control" value="<%= user.age %>" required>
  </div>

  <div class="form-group">
    <label for="country">Country</label>
    <input type="text" name="country" id="country" class="form-control" value="<%= user.country %>" required>
  </div>

  <div class="form-group">
    <label for="faculty">Faculty</label>
    <input type="text" name="faculty" id="faculty" class="form-control" value="<%= user.faculty %>" required>
  </div>

  <div class="form-group">
    <label>Profile Image</label>
    <input type="text" name="image" class="form-control" value="<%= user.image %>">
  </div>

  <button class="btn btn-primary">Edit</button>
</form>
