<% users.forEach((user) => { %>
  <div>

    <a href="/users/<%= user.id %>">
      <img src="<%= user.image %>" alt="<%= user.name %>">
      <h2><%= user.name %></h2>
      <p>
        <%= user.gender %><br>
        <%= user.age %><br>
        <%= user.country %><br>
        <%= user.faculty %><br>
      </p>
    </a>

  </div>
<% }) %>
