<div class="row">

  <% users.forEach((user) => { %>
    <div class="col-md-4">
      <div class="card">
      <div class="card-img-top" style="background-image:url(<%= user.image %>)" alt="<%= user.name %>" ></div>
        <div class="card-block">
          <a href="/users/<%= user.id %>">
            <h4 class="card-title"><%= user.name %></h4>
          </a>
          <p class="card-text"><%= user.gender %></p>
          <p class="card-text"><%= user.age %></p>
          <p class="card-text"><%= user.country %></p>
          <p class="card-text"><%= user.faculty %></p>
    </div>
  <% }) %>

          <% if(locals.isAuthenticated && locals.user === user) { %>

            <a href="/users/<%= cat.id %>/edit" class="btn btn-primary">Edit</a>

            <form method="POST" action="/cats/<%= cat.id %>">
              <input type="hidden" name="_method" value="DELETE">
              <button class="btn btn-danger">Delete</button>
            </form>
            
          <% } %>

        </div>
      </div>
    </div>
  <% }) %>
</div>


<% if(locals.isAuthenticated && comment.ownedBy(user)) { %>
        <form method="POST" action="/hotels/<%= hotel.id %>/comments/<%= comment.id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button>Delete</button>
        </form>
      <% } %>
